* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f0eded;
}

.imageWrapper {
  height: 150px;
  width: 150px;
}

.inputWrapper {
  display: flex;
  gap: 20px;
}

.input {
  padding: 10px 15px;
  font-size: 14px;
  width: 240px;
  border: none;
  border-radius: 10px;
}

.editInput {
  color: white;
  background-color: #87ab95;
  border: none;
}

.editInput:focus {
  outline: none;
}

.addTask {
  border: none;
  font-size: 16px;
  background-color: #8ebf92;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 400ms ease;
}

.addTask:disabled {
  background-color: #9e9e9d;
  cursor: not-allowed;
}

.itemsWrapper {
  width: 500px;
  border: 2px solid #cccfcd;
  padding: 10px 10px;
  border-radius: 8px;
  height: 250px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0px 8px;
  background-color: #87ab95;
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
}

.task {
  width: 300px;
  cursor: pointer;
  overflow-x: auto;
}

.clearButton {
  border: none;
  padding: 10px 20px;
  background-color: #ba5268;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 400ms ease;
}

.clearButton:disabled {
  background-color: #9e9e9d;
  cursor: not-allowed;
  transition: all 400ms ease;
}

.checkImageIcon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.completedTask {
  text-decoration: line-through;
  cursor: not-allowed;
}

.completedItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0px 8px;
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  background-color: #878c88;
}
